@import url("./assets/vendor/fonts/boxicons.css");
@import url("./assets/vendor/css/core.css");
@import url("./assets/vendor/css/theme-default.css");
@import url("./assets/css/demo.css");
@import url("./assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css");
@import url("./assets/vendor/libs/apex-charts/apex-charts.css");

.popup {
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
      
/* background-color: rgba(0,0,0,0.4); */
}

.popup-inner {
position: absolute;
left: 62%;
top: 50%;

transform: translate(-50%, -50%);
padding: 20px;
width: 40%;
}     
    